
<div class="row">
	<div class="col-md-3 col-md-offset-4 login_div">
	  <h3>Login Page</h3>
	  <form ng-submit="formSubmit()" class="form">
		  <div class="form-group">
			<input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
		  </div> 
			  <div class="form-group">
				<input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
			  </div>

			  <div class="form-group">
				<button type="submit" ng-click="login(username, password);" class="btn btn-success">Login</button>
				<span class="text-danger">{{ error }}</span>
			  </div>
		  </form>
		</div>	  
	</div>